@import url('https://fonts.googleapis.com/css?family=Press Start 2P');

*   {
    font-family: 'Press Start 2P';
    font-weight:900;
    border:0;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#loadScreen {
    display:none;
    position:fixed;
    flex-direction: column;
    height:100vh;
    background-color:rgb(0, 0, 0);
    width:100%;
    text-align:center;
    justify-content:  center;
    align-self: center; 
}
#loadScreen h3  {
    display: inline;
    color:white;
    font-size:2.7em;
    
}
.loadTxt    {
    position:relative;
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
    padding:15px;
    text-align:center;
}
.loadTxt div   {
    display:inline-block;
    width:25px;
    height:25px;
    background-color:white;
    border-radius: 30px;
    
}
.loadTxt .dots1 {
    z-index:1;
    -moz-animation: grow 4.4s infinite ease-in-out;
    -webkit-animation: grow 4.4s infinite ease-in-out;
}
.loadTxt .dots2 {
    -moz-animation: grow 4.4s infinite ease-in-out;
    -webkit-animation: grow 4.4s infinite ease-in-out;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.loadTxt .dots3 {
    -moz-animation: grow 4.4s infinite ease-in-out;
    -webkit-animation: grow 4.4s infinite ease-in-out;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.4s;
}

@-moz-keyframes grow {
    0% {-moz-transform: scale(0);}
    25% {-moz-transform: scale(1);}
    50% {-moz-transform: scale(0);}
    75% {-moz-transform: scale(1);background:#ffffff;}
    100% {-moz-transform: scale(0);background:#5e5e5e;}
}
@-webkit-keyframes grow {
    0% {-webkit-transform: scale(0);}
    25% {-webkit-transform: scale(1);}
    50% {-webkit-transform: scale(0);}
    75% {-webkit-transform: scale(1);background:#ffffff;}
    100% {-webkit-transform: scale(0);background:#7b7b7b;}
}
.loadingBar {
    position:relative;
    background-color:white;
    margin-left:auto;
    margin-right:auto;
    margin-top:2%;
    width:55%;
    height:5%;
}

.progress   {
    position:absolute;
    background-color:greenyellow;
    width:0%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    animation: loadup 5s ease-in;
}
@keyframes loadup   {
    100% {width: 100%;}
}

.nav-container  {
    color:red;
    font-weight:900;
    width:100%;
    background-color:rgb(0, 0, 0);
    padding:5px;
    text-align: center;

}
.nav-title  {
    padding:3px;
    font-size:2.1em;
    margin-bottom:7px;
}
.wrap   {
    border:rgb(156, 156, 144) dashed 8px;
    padding:16px;
}
.menu   {
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding-bottom:5px;
    font-size:2.2em;
    
}
.menu div   {
    margin:8px;
    padding:20px;
}
.start-game {
    background-color: black;
    width:100%;
    height:100%;
    text-align:center;
}
.start-game input   {
    width:fit-content;
    border:rgb(156, 156, 144) solid 12px;
    font-size:0.3em;
    padding:20px;
    margin-top:20px;
    font-size:2em;
    box-shadow: 0 2px #665;

}
.start-game input:hover {
    background-color:rgb(180, 180, 180);
    color:red;
}
.start-game input:active    {
    transform:translateY(2px);
}
.game-row   {
    background-color:black;
    height:100vh;
    max-height:max-content;
}
